.wrapper{
    width: 50%;
    margin: 10;
    display: grid;

    grid-template-columns: repeat(3, 50px);
}

.casilla{
    width: 50px;
    height: 50px;
    padding: 0%;
}

.casillaO{
    width: 50px;
    height: 50px;
    color: blue;
    padding: 0%;
}

.casillaX{
    width: 50px;
    height: 50px;
    color: red;
    padding: 0%;
}